@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&family=Poppins:wght@200&family=Roboto+Slab:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* > *{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}
body{
    background: url('./assets/justice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-size: cover;
    padding: 00px;
    /* color: white; */
    filter: brightness(80%);
    opacity: 0.75;;
    
}